<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/dash.css">
    <title></title>
  </head>
  <body>
    <div class="side-menu">
      <div class="brand-name">
        <h1>E-Dili</h1>
      </div>
      <ul>
        <li><img src="" alt="">&nbsp; Dashboard</li>
        <li><img src="" alt="">&nbsp; Job</li>
        <li><img src="" alt="">&nbsp; Help</li>
        <li><img src="" alt="">&nbsp; <a href="{% url 'profile' %}">Settings</li></a>
        <li><img src="" alt="">&nbsp; <a href="{% url 'logout' %}">Logout</li></a>
      </ul>
    </div>
  </body>
</html>
