<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>

  <body>
    <footer id="base">
    <h1 id="ti">E-dili</h2>
    <h5>Ihuriro Ry'impano</h5>
      Sur cette page vous pouver commander des personnes pour effectuer votre travail
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" name="button">Commander</button>
      </form>
  </div>
  </div>
  </body>
</html >

<!--style media="screen">
body {
align-items: center;
background-color: cyan;
display: flex;
justify-content: center;
height: 100vh;
}

.form {
background-color: #15172b;
border-radius: 20px;
box-sizing: border-box;
height: 500px;
padding: 20px;
width: 320px;
}

.title {
color: #eee;
font-family: sans-serif;
font-size: 36px;
font-weight: 600;
margin-top: 30px;
}

.subtitle {
color: #eee;
font-family: sans-serif;
font-size: 16px;
font-weight: 600;
margin-top: 10px;
}

.input-container {
height: 50px;
position: relative;
width: 100%;
}

.ic1 {
margin-top: 40px;
}

.ic2 {
margin-top: 30px;
}

.input {
background-color: #303245;
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: #eee;
font-size: 18px;
height: 100%;
outline: 0;
padding: 4px 20px 0;
width: 100%;
}

.cut {
background-color: #15172b;
border-radius: 10px;
height: 20px;
left: 20px;
position: absolute;
top: -20px;
transform: translateY(0);
transition: transform 200ms;
width: 76px;
}

.cut-short {
line-height: 14px;
width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
transform: translateY(8px);
}

.placeholder {
color: #65657b;
font-family: sans-serif;
left: 20px;
pointer-events: none;
position: absolute;
transform-origin: 0 50%;
transition: transform 200ms, color 200ms;
top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
color: #808097;
}

.input:focus ~ .placeholder {
color: #dc2f55;
}

.submit {
background-color: #08d;
border-radius: 12px;
border: 0;
box-sizing: border-box;
color: #eee;
cursor: pointer;
font-size: 18px;
height: 50px;
margin-top: 38px;
// outline: 0;
text-align: center;
width: 100%;
}

.submit:active {
background-color: #06b;
}

</style>

<div class="form">
  <div class="title">Bienvenue</div>
  <div class="subtitle">Embaucher un Travailleur</div>
  <div class="input-container ic1">
    <input id="firstname" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="firstname" class="placeholder">First name</label>
  </div>
  <div class="input-container ic2">
    <input id="lastname" class="input" type="text" placeholder=" " />
    <div class="cut"></div>
    <label for="lastname" class="placeholder">Last name</label>
  </div>
  <div class="input-container ic2">
    <input id="email" class="input" type="text" placeholder=" " />
    <div class="cut cut-short"></div>
    <label for="email" class="placeholder">Email</>
  </div>
  <button type="text" class="submit">submit</button>
</div -->
